ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-icon {
margin: 0 auto;
  // --color: var(--ion-color-grey);

}

ion-menu-button {
  color: var(--ion-color-grey);
}