
ion-button {
    pointer-events: none
}


.select, .searchbar {
    padding: 0;

    --background: var(--ion-color-light-null);
    --placeholder-color: var(--ion-color-dark);
    --placeholder-opacity: 1;
    color:var(--ion-color-dark);

    --border-radius: 5px;
    border-radius: 5px;
    border: 1px solid var(--ion-color-medium); 
}


.button-tiles {
    // text-transform: none;

    --background: var(--ion-color-light-null);
    color: var(--ion-color-light-contrast);

    --border-radius: 5px;
    border-radius: 5px;
    border: 1px solid var(--ion-color-medium); 
}

.outer {
    border: 1px solid var(--ion-color-medium); 
}
