<app-header [title]="'home.chordmaker'" [icon]="'information-circle'"></app-header>


<ion-content fullscreen="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="resetTiles()" expand="block" color="light" class="reset-button">
          Reset
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row-tiles">
      <ion-col *ngFor="let tile of tiles" class="col-tiles">

        <ion-card [color]="tile.color" (click)="selectTile(tile)" class="button-tiles">

          <ion-text class="button-title">
            {{tile.name | musicNotation}}
          </ion-text>

        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card *ngIf="chord && !chord.empty" class="card outer">
          <app-chord [chord]="chord" (chordLink)="inputChord($event)"></app-chord>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>