<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-title style="padding: 0; text-align: left;">
        {{'home.chordmaker' | translate}}
      </ion-title>
      <ion-icon name="information-circle-outline" color="medium" size="large" slot="end" (click)="openModal()">
      </ion-icon>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="resetTiles()" expand="block" color="light" class="reset-button">
          Reset
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row-tiles">
      <ion-col *ngFor="let tile of tiles" class="col-tiles">

        <ion-button [color]="tile.color" (click)="selectTile(tile)" class="button-tiles">

          <ion-text class="button-title">
            {{tile.name | musicNotation}}
          </ion-text>

        </ion-button>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card *ngIf="chord && !chord.empty" class="card outer">
          <app-chord [chord]="chord" (chordLink)="inputChord($event)"></app-chord>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>