<ion-fab vertical="top" horizontal="left">
  <ion-fab-button color="light" (click)="menuClick()">
    <ion-icon name="menu" size="large"></ion-icon>
  </ion-fab-button>

</ion-fab>

<ion-content fullscreen>

  <ion-grid style="height: 100%;">

    <ion-row style="height: 30%;">
      <ion-col class="ion-text-center">
        <ion-text class="title">
          Chorder
        </ion-text>

        <br>

        <ion-text class="subtitle">
          The ultimate music tool
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center align-items-center">


      <ng-container *ngFor="let page of appPages">
        <ng-container *ngIf="page.title != 'Home'">
          <ion-col size="6" sizeMd="3" class="ion-text-center" [routerDirection]="'root'" [routerLink]="[page.url]">
            <ion-card>
              <ion-card-header>
                <img [src]="page.imageUrl">
              </ion-card-header>
              <ion-card-content class="ion-text-center description">
                {{page.title | translate}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-container>

      </ng-container>
    </ion-row>
  </ion-grid>

</ion-content>