<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-title style="padding: 0;">
        {{'home.options' | translate}}
      </ion-title>
      <!-- <ion-icon name="information-circle-outline" color="medium" size="large" (click)="openModal()">
      </ion-icon> -->
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'options.theme' | translate }}</ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label> {{ 'options.darkmode' | translate }} </ion-label>
      <ion-toggle [checked]="global.darkmode" (ionChange)="optionClick('darkmode', $event)" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-radio-group [value]="global.notation">

      <ion-list-header>
        <ion-label>{{ 'options.notation' | translate }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>{{ 'options.anglosaxon' | translate }}</ion-label>
        <ion-radio slot="start" value="american" (click)="optionClick('notation', 'american')"></ion-radio>
        <ion-text> C, D, E ...</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'options.natural' | translate }}</ion-label>
        <ion-radio slot="start" value="normal" (click)="optionClick('notation', 'normal')"></ion-radio>
        <ion-text> Do, Re, Mi ...</ion-text>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-radio-group [value]="global.language">

      <ion-list-header>
        <ion-label>{{ 'options.language' | translate }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="end">
          <img src="/assets/flags/england.svg">
        </ion-avatar>
        <ion-label>{{ 'options.english' | translate }} </ion-label>
        <ion-radio slot="start" value="en" (click)="optionClick('language', 'en')"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-avatar slot="end">
          <img src="/assets/flags/italy.svg">
        </ion-avatar>
        <ion-label>{{ 'options.italian' | translate }}</ion-label>
        <ion-radio slot="start" value="it" (click)="optionClick('language', 'it')"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-radio-group [value]="global.instrument">

      <ion-list-header>
        <ion-label>{{ 'options.instrument' | translate }}</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let instrument of instruments">
        <ion-avatar slot="end">
          <ion-img [src]="'assets/icons/'+instrument+'.jpg'"></ion-img>
        </ion-avatar>
        <ion-label> {{ 'instrument.'+instrument | translate }}</ion-label>
        <ion-radio slot="start" [value]="instrument" (click)="optionClick('instrument', instrument)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>