<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-title style="padding: 0;">
        {{'home.metronome' | translate}}
      </ion-title>
      <ion-icon name="information-circle-outline" color="medium" size="large" (click)="openMetroModal()">
      </ion-icon>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="metronome">


    <ion-row class="ion-align-items-center" style="padding-top: 3%;">
      <ion-col class="ion-text-center" size="12">
        <ion-button (click)="metronome.tapBpm()" class="bpm" fill="outline" disabled="true">
          BPM <br>
          {{metronome.data.bpm}}

        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center" style="padding-top: 3%;">
      <ion-col class="ion-text-right">
        <ion-button size="small" color="secondary" (click)="metronome.modSettings('bpm', 'remove')">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">

        <!-- <div class="container" (click)="metronome.tapBpm()">
          <div *ngIf="metronome" class="bpmClass tap">


          </div>
        </div> -->

        <ion-button (click)="metronome.tapBpm()" color="secondary" class="tap" fill="outline">
          Tap
        </ion-button>

      </ion-col>
      <ion-col class="ion-text-left">
        <!-- <ion-button disabled class="bpmNumber"> {{metronome.data.bpm}}</ion-button> -->
        <ion-button size="small" color="secondary" (click)="metronome.modSettings('bpm', 'add')">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-range [(ngModel)]="sliderValue" min="30" max="300" [value]="metronome.data.bpm" debounce="15"
          color="secondary" (ionChange)="metronome.getSlider(sliderValue)">
          <ion-icon name="musical-notes" slot="start" size="small"></ion-icon>
          <ion-icon name="musical-notes" slot="end"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-row>

    <ion-row style="border-top: 1px solid rgb(184, 184, 184);">
      <ion-col></ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-text>{{'metronome.increase' | translate}}:</ion-text>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-toggle [(ngModel)]="increase" color="secondary" (ionChange)="metronome.toggleIncrease(increase)">
        </ion-toggle>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="increase" class="ion-align-items-center">
      <ion-col size="6.5">
        <ion-text>{{'metronome.finalbpm' | translate}}:</ion-text>
      </ion-col>
      <ion-col size="2" class="ion-text-right">
        <ion-button size="small" color="secondary" (click)="metronome.modSettings('final', 'remove')">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1.5" class="ion-text-center">
        <ion-text>{{metronome.data.finalBpm}}</ion-text>
      </ion-col>
      <ion-col size="2" class="ion-text-left">
        <ion-button size="small" color="secondary" (click)="metronome.modSettings('final', 'add')">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="increase" class="ion-align-items-center">
      <ion-col size="6.5">
        <ion-text>{{'metronome.step' | translate}}:</ion-text>
      </ion-col>
      <ion-col size="2" class="ion-text-right">
        <ion-button size="small" color="secondary" (click)="metronome.modSettings('step', 'remove')">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1.5" class="ion-text-center">
        <ion-text>{{metronome.data.stepBpm}}</ion-text>
      </ion-col>
      <ion-col size="2" class="ion-text-left">
        <ion-button size="small" color="secondary" (click)="metronome.modSettings('step', 'add')">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="increase" style="padding-bottom: 3%;" class="ion-align-items-center">
      <ion-col size="6.5">
        <ion-text>{{'metronome.measures' | translate}}:</ion-text>
      </ion-col>
      <ion-col size="2" class="ion-text-right">
        <ion-button size="small" color="secondary" (click)="metronome.modSettings('measures', 'remove')">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1.5" class="ion-text-center">
        <ion-text>{{metronome.data.measures}}</ion-text>
      </ion-col>
      <ion-col size="2" class="ion-text-left">
        <ion-button size="small" color="secondary" (click)="metronome.modSettings('measures', 'add')">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid rgb(184, 184, 184);">
      <ion-col></ion-col>
    </ion-row>

    <ng-container *ngFor="let track of metronome.data.tracks">

      <ion-row style="padding-top: 3%;" class="ion-align-items-center">

        <ion-col *ngIf="!track.toggle" size="1">
          <ion-icon name="caret-forward-circle-outline" size="large" color="medium"
            (click)="metronome.toggleTrackOptions($event, track)">
          </ion-icon>
        </ion-col>
        <ion-col *ngIf="track.toggle" size="1">
          <ion-icon name="caret-down-circle-outline" size="large" color="medium"
            (click)="metronome.toggleTrackOptions($event, track)">
          </ion-icon>
        </ion-col>

        <ion-col size="5.5">
          <ion-text>{{'metronome.beats' | translate}}:</ion-text>
        </ion-col>

        <ion-col size="2" class="ion-text-right">
          <ion-button size="small" color="secondary" (click)="metronome.modSettings('beat', 'remove', track)">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1.5" class="ion-text-center">
          <ion-text>{{track.beats}}</ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-left">
          <ion-button size="small" color="secondary" (click)="metronome.modSettings('beat', 'add', track)">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="track.toggle" style="padding-top: 3%;" class="ion-align-items-center">
        <ion-col size="6.5">
          <ion-text>{{'metronome.color' | translate}}:</ion-text>
        </ion-col>

        <ion-col size="2" class="ion-text-right">
          <ion-button size="small" color="secondary" (click)="metronome.changeTrackOptions('color', 'remove', track)">
            <ion-icon name="caret-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1.5" class="ion-text-center">
          <div class="showColor" [style.background-color]="track.color"></div>
        </ion-col>
        <ion-col size="2" class="ion-text-left">
          <ion-button size="small" color="secondary" (click)="metronome.changeTrackOptions('color', 'add', track)">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="track.toggle" style="padding-top: 3%;" class="ion-align-items-center">
        <ion-col size="6.5">
          <ion-text>{{'metronome.sound' | translate}}:</ion-text>
        </ion-col>

        <ion-col size="2" class="ion-text-right">
          <ion-button size="small" color="secondary" (click)="metronome.changeTrackOptions('sound', 'remove', track)">
            <ion-icon name="caret-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1.5" class="ion-text-center">
          <ion-text>{{track.sound}}</ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-left">
          <ion-button size="small" color="secondary" (click)="metronome.changeTrackOptions('sound', 'add', track)">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

      <!-- <ion-row *ngIf="track.toggle" style="padding-top: 3%;" class="ion-align-items-center">
        <ion-col>
          <ion-text>{{'metronome.firstbeat' | translate}}:</ion-text>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-toggle color="secondary" [checked]="track.changeFirstBeat"
            (ionChange)="metronome.changeTrackOptions('firstbeat', '', track)">
          </ion-toggle>
        </ion-col>
      </ion-row> -->

    </ng-container>

    <ion-row style="border-bottom: 1px solid rgb(184, 184, 184);">
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>





</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding center">
          <ion-button color="danger" (click)="metronome.removeTrack()">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding center">
          <ion-button color="secondary" (click)="metronome.initializeMetronome(); openShowMetronomeModal();">
            <ion-icon name="play"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding center">
          <ion-button color="secondary" (click)="metronome.addTrack()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>