<ng-container *ngIf="!chord.show; else chordShowed">
  <ion-card-header class="not-clickable" (click)="toggleCard(chord)">
    <ion-card-title class="card-title-symbol">{{chord.symbol | musicNotation}}</ion-card-title>
  </ion-card-header>

</ng-container>

<ng-template #chordShowed>
  <ion-card-header>
    <ion-card class="card inner" style="margin-top: 0;" (click)="toggleCard(chord)">
      <ion-card-header>
        <ion-card-title class="card-title-symbol">{{chord.symbol | musicNotation}}</ion-card-title>

        <ion-card-subtitle class="card-subtitle">
          <ng-container *ngIf="chord.name.length > 2">
            <ion-text *ngFor="let word of chord.name">
              {{word | musicNotation | translate}}
            </ion-text><br>
          </ng-container>
          <ng-container *ngIf="chord.quality">
            <ion-text *ngIf="global.language == 'en'" style="text-transform: capitalize;">
              {{chord.quality | translate}} {{'chord' | translate}}<br>
            </ion-text>
            <ion-text *ngIf="global.language == 'it'" style="text-transform: capitalize;">
              {{'chord' | translate}} {{chord.quality | translate}}<br>
            </ion-text>
          </ng-container>
          <ion-text>
            {{'aliases' | translate}}:
          </ion-text>
          <ion-text *ngFor="let alias of chord.aliases"> {{alias | musicNotation}} </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="card inner">
      <ion-card-header>

        <ion-grid>
          <ion-row *ngFor="let symbol of chord.intervals.symbols; index as i">
            <ion-col size="2" style="font-weight: bold;" *ngIf="chord.notes.length != 0">{{chord.notes[i] |
              musicNotation}}</ion-col>
            <ion-col size="2">{{symbol}}</ion-col>

            <ion-col *ngIf="global.language == 'en'" style="text-transform: capitalize;">
              {{chord.intervals.quality[i] | translate}}
              {{chord.intervals.numbers[i] | translate}} </ion-col>

            <ion-col *ngIf="global.language == 'it'" style="text-transform: capitalize;">
              {{chord.intervals.numbers[i] | translate}} {{chord.intervals.quality[i] | translate}}
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>


    <ion-card class="card inner" *ngIf="chord.extensions.values.length != 0">
      <ion-card-header>
        <ion-text> {{'extensions' | translate}}: <br> <br></ion-text>

        <ng-container *ngIf="!chord.extensions.open; else extenionsOpened">
          <ion-text *ngFor="let mychord of chord.extensions.values.slice(0,3); last as isLast"
            (click)="inputChord(mychord)">
            <ion-text class="linkChord">{{mychord | musicNotation}}</ion-text>
            <ion-text *ngIf="!isLast"> , </ion-text>
          </ion-text>
        </ng-container>

        <ng-template #extenionsOpened>
          <ion-text *ngFor="let mychord of chord.extensions.values; last as isLast" (click)="inputChord(mychord)">
            <ion-text class="linkChord">{{mychord | musicNotation}}</ion-text>
            <ion-text *ngIf="!isLast"> , </ion-text>
          </ion-text>
        </ng-template>

        <ion-icon color="secondary" name="ellipsis-horizontal" style="padding-left: 3%;"
          *ngIf="chord.extensions.values.length > 3" (click)="toggleEllipsis('extensions', chord)">
        </ion-icon>

      </ion-card-header>
    </ion-card>


    <ion-card class="card inner" *ngIf="chord.reductions.values.length != 0">
      <ion-card-header>
        <ion-text> {{'reductions' | translate}}: <br> <br></ion-text>

        <ion-text *ngIf="!chord.reductions.open; else reductionsOpened">
          <ion-text *ngFor="let mychord of chord.reductions.values.slice(0,3); last as isLast"
            (click)="inputChord(mychord)">
            <ion-text class="linkChord">{{mychord | musicNotation}}</ion-text>
            <ion-text *ngIf="!isLast"> , </ion-text>
          </ion-text>
        </ion-text>

        <ng-template #reductionsOpened>
          <ion-text *ngFor="let mychord of chord.reductions.values; last as isLast" (click)="inputChord(mychord)">
            <ion-text class="linkChord">{{mychord | musicNotation}}</ion-text>
            <ion-text *ngIf="!isLast"> , </ion-text>
          </ion-text>
        </ng-template>

        <ion-icon color="secondary" name="ellipsis-horizontal" style="padding-left: 3%;"
          *ngIf="chord.reductions.values.length > 3" (click)="toggleEllipsis('reductions', chord)">
        </ion-icon>

      </ion-card-header>
    </ion-card>

    <ion-card class="card inner" style="margin-bottom: 0;">

      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button class="not-clickable" color="secondary" (click)="playChord(chord, 'chord')">
              {{'play_chord' | translate}}
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button class="not-clickable" color="secondary" (click)="playChord(chord, 'arp')"> {{'play_arp' |
              translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </ion-card-header>
</ng-template>